/node_modules
/public/hot
/public/storage
/public/leadsdata
!/public/customs/index.html
/public/customs/
/storage/*.key
/vendor
/.idea
/.vagranttable_static_responsive.html
Homestead.json
Homestead.yaml
npm-debug.log
.DS_Store
.env
/composer.lock
/package-lock.json
/public/appointment_image
/database/backups/*
!/database/backups/index.html